.DS_Store
node_modules
dist
/docs
test
/uploads/*
/delLoads/*
/userAvatar/*
configDev.js
logs
config.js

# pkg
app-linux
app-macos
app-win.exe

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?